primary-color = #3d76f7
light-primary-color = #2f88ff
success-color = #36b777
error-color = #F95455
warn-color = orange
shadow-color = #97abb93d
border-color = #e4e9ed
back-color = #f6f6f6
blue-back = #f3f8ff
placeholder-color = #e3e3e3
divider-color = #E4E8F0
tip-color = rgba(153,153,153,1)
primary-text-color = #333333
second-text-color = #666666
third-text-color = #999999
disabled-text-color = #c1c1c1

